<div>
  <!--Delivery interface DifferentConditions-->
  <!--Payment same condition in both contracts, CommonConditionService-->
  <div class="bg-1">
    <h3>Vertrag 1</h3>
    <p>
      Delivery: {{ contract1Data.deliveryCondition }} <br /><i>
        Interface<br
      /></i>
    </p>
    <p>
      Payment: {{ commonconditionservice.paymentCondition }}<br /><i>
        Service</i
      >
    </p>
  </div>

  <div class="bg-2">
    <h3>Vertrag 2</h3>
    <p>
      Delivery: {{ contract2Data.deliveryCondition }} <br />
      <i> Interface<br /></i>
    </p>
    <p>
      Payment: {{ commonconditionservice.paymentCondition }}<br />
      <i> Service<br /></i>
    </p>
  </div>
</div>
